body {
  padding-bottom: 57px;
}

nav {
  height: 60px;
  line-height: 60px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  height: 60px;
  line-height: 60px;
}

nav .button-collapse i {
  height: 60px;
  line-height: 60px;
}

nav .brand-logo {
  font-size: 1.6rem;
}

@media only screen and (min-width: 601px){
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 60px;
    line-height: 60px;
  }
}

.navbar-fixed {
  height: 60px;
  line-height: 60px;
}

footer {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  bottom: 0px;
  width: 100%;
}

form {
  background-color: white;
}

a {
  color: white;
}

span {
  word-break: break-all;
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

input, select, textarea{
  color: #0d0d0d;
}

textarea:focus, input:focus {
  color: #0d0d0d;
}

.fixed-row {
  width: 100%;
  position: fixed;
  top: 60px;
  word-break: break-all;
}

.padding-row {
  width: 100%;
  top: 60px;
  word-break: break-all;
}

.login-padding {
  padding-bottom: 60px;
}

.no-margin {
  margin-bottom: 0;
}

.color-row {
  padding-bottom: 8px;
}

.form-padding {
  padding-bottom: 10px;
  background-color: white;
}

.card-panel {
  font-size: 15px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 4px;
}
