body {
  padding-bottom: 65px;
}

nav {
    height: 60px;
    line-height: 60px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 60px;
    line-height: 60px;
}

nav .button-collapse i {
    height: 60px;
    line-height: 60px;
}

nav .brand-logo {
    font-size: 1.6rem;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 60px;
        line-height: 60px;
    }
}

footer {
  background-color: white;
  position: fixed;
  bottom: -20px;
  width: 100%;
  padding-top: 6px;
}

a {
  color: white;
}

span {
  word-break: break-all;
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

.fixed-row {
  width: 100%;
  position: fixed;
  top: 60px;
  word-break: break-all;
}

.top-padding {
  padding-top: 40px;
}
