body {
  padding-top: 65px;
  padding-bottom: 65px;
}
nav {
  position: fixed;
  top: 0;
}
footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 6px;
}
span {
  word-break: break-all;
}
